.edit-todo {
    width: 85%;
    font-size: 16px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
}

.task {
    position: relative;
    top:3rem;
    left:18.5rem;
    background-color: #34495e;
    padding: 15px;
    margin:5px;
    width: 405px;
    overflow-x: hidden;
    border-radius: 5px;
    cursor: pointer;
    border:1px solid red;
  }

  .task span {
    color: #FFFFFF;
  }
  .toggleTaskBtn{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

.icon {
    float: right;
    margin-right: 20px;
  }

@media only screen and (max-width:768px) and(min-width:368px){
  /*.edit-todo {
    width: 85%;
    font-size: 16px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;}*/


.task {
    margin-left: -100px;
    border-radius: 5px;
    cursor: pointer;
    border:1px solid red;
  }
}

 /* .task span {
    color: #FFFFFF;
  }
  .toggleTaskBtn{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

.icon {
    float: right;
    margin-right: 20px;
  }
} */